# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/2020_StressW/.vs/2020_StressW/v17/ipch
/2020_IOCP_SERVER/.vs/2020_IOCP_SERVER/v17/ipch
/2020_CLIENT/.vs/2020_CLIENT/v17/ipch
